<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JWT Token</title>
</head>
<body>

<!--
    < JWT >
    - JWT는 HTTP 요청의 헤더 중 Authorization: Bearer에 포함 됨.
    - Authorization는 요청에 대한 인증 정보를 나타내며, Bearer는 JWT를 나타 냄

    - JWT는 Base64로 인코딩된 문자열로 구성 됨
    - JWT는 헤더(Header), 페이로드(Payload), 서명(Signature)으로 구성되며 . 으로 구분
      [ Authorization: Bearer eyJ ... iJ9.eyJ ... In0.UcA ... NDQ ]

    < 헤더(Header) >
    - 헤더에는 토큰의 유형과 해시 알고리즘을 지정

    < 페이로드(Payload) >
    - 페이로드에는 토큰에 포함될 클레임 정보를 포함
    - 클레임은 토큰에 대한 서로 다른 유형의 정보를 나타 냄
    - 사용자의 식별자, 권한, 만료 시간 등...

        < 클레임(Claims)의 종류 >
        - Registered Claims : (등록된 클레임) 표준화된 클레임으로, JWT 스펙에 정의된 내용
                              주로 토큰에 대한 메타데이터를 포함하며, 충돌을 피하기 위해 클레임 이름이 사전에 정의되어 있음.
                              예를 들어, 발급자(iss), 만료 시간(exp), 발급 시간(iat) 등.

        - Public Claims : (공개 클레임) 사용자 정의 클레임으로, 토큰 발급자와 소비자 사이의 공개적으로 공유된 정보를 나타냄.
                          공개 클레임은 충돌이 발생하지 않도록 이름을 URI 형식으로 지정
                          예를 들어, 사용자의 이메일 주소, 사용자의 역할 등.

        - Private Claims : (비공개 클레임) 특정 애플리케이션 또는 사용자에게 필요한 사용자 정의 클레임으로,
                           토큰 발급자와 소비자 사이에 미리 정의된 협의된 형식으로 전달.
                           이러한 클레임은 충돌을 피하기 위해 등록된 클레임이나 공개 클레임과는 달리 일반적인 이름 규칙이 적용되지 않음.

        - 클레임은 JWT를 사용하여 정보를 안전하게 전송하고 검증하는 데 중요한 역할.
        - 특히 사용자의 인증 및 권한 정보를 포함하여 안전한 인증 및 권한 부여 메커니즘을 제공.

    < 서명(Signature) >
    - 헤더와 페이로드를 결합하여 생성된 서명
    - 서명은 토큰이 변조되지 않았음을 보장하는 역할을 함
    - 헤더와 페이로드, 그리고 비밀 키를 이용하여 생성 됨
-->
</body>
</html>